<!doctype html>
<html ng-app="posConsoleApp" class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/bootstrap.css"/>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->

    <!-- endbuild -->
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h2>POS in der Cloud</h2>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <button type="button" class="btn btn-default btn-xlg">
                <span></span> 1
            </button>
        </div>


        <div class="col-md-1">test for another functionality</div>


        <div class="col-md-6">

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <output>dfdf</output>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default btn-xlg-number">
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-10">
                        <button type="button" class="btn btn-default btn-xlg-number">
                            <span>7"</span>
                        </button>
                        <button type="button" class="btn btn-default btn-xlg-number">
                            <span>8"</span>
                        </button>
                        <button type="button" class="btn btn-default btn-xlg-number">
                            <span>9"</span>
                        </button>
                        <button type="button" class="btn btn-default btn-xlg-number">
                            <span>Delete</span>
                        </button>
                    </div>

                    <div class="col-md-6">
                        <button type="button" class="btn btn-default btn-xlg-number">
                            <span>4"</span>
                        </button>
                        <button type="button" class="btn btn-default btn-xlg-number">
                            <span>5"</span>
                        </button>
                        <button type="button" class="btn btn-default btn-xlg-number">
                            <span>6"</span>
                        </button>
                    </div>
                    <div class="col-md-10">
                        <button type="button" class="btn btn-default btn-xlg-number">
                            <span>1"</span>
                        </button>
                        <button type="button" class="btn btn-default btn-xlg-number">
                            <span>2"</span>
                        </button>
                        <button type="button" class="btn btn-default btn-xlg-number">
                            <span>3"</span>
                        </button>
                    </div>
                    <div class="col-md-10">
                        <button type="button" class="btn btn-default btn-xlg-number">
                            <span>0"</span>
                        </button>
                        <button type="button" class="btn btn-default btn-xlg-number">
                            <span>00</span>
                        </button>
                        <button type="button" class="btn btn-default btn-xlg-number">
                            <span>.."</span>
                        </button>
                        <button type="button" class="btn btn-default btn-xlg-number">
                            <span>="</span>
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<!--<div class="container-fluid">
    <div class="row">
        <!-- first column -->
<!--<div class="col-xs-6 col-md-5">
    <div>
        <button type="button" class="btn btn-default btn-xlg">
            <span></span> 1
        </button>
        <button type="button" class="btn btn-default btn-xlg">
            <span></span> 1
        </button>
        <button type="button" class="btn btn-default btn-xlg">
            <span></span> 1
        </button>
        <button type="button" class="btn btn-default btn-xlg">
            <span></span> 1
        </button>
        <button type="button" class="btn btn-default btn-xlg">
            <span></span> 1
        </button>
    </div>
</div>

<!-- second column -->
<!-- <div class="col-xs-4 col-md-2">
     <div>
     </div>
 </div>

 <!-- second column -->
<!-- <div class="col-xs-6 col-md-5">
     <div class="row">
         <div class="col-sm-3">
             <button type="button" class="btn btn-default btn-xlg-nbr">
                 <span></span> 3
             </button>
         </div>
         <div class="col-sm-3">
             <button type="button" class="btn btn-default btn-xlg-nbr">
                 <span></span> 3
             </button>
         </div>
         <div class="col-sm-3">
             <button type="button" class="btn btn-default btn-xlg-nbr">
                 <span></span> 3
             </button>
         </div>
     </div>
 </div>
</div>
</div>-->


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/es5-shim/es5-shim.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/json3/lib/json3.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-touch/angular-touch.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="../scripts/app.js"></script>
<script src="../scripts/controllers/main.js"></script>
<script src="../scripts/controllers/about.js"></script>
<!-- endbuild -->
</body>
</html>